@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap");
@import './reset.css';
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: url(../../public/Images/body_bg.jpg);
  background-repeat: no-repeat;
  font-family: "Shantell Sans", cursive;
  color: white;
  background-size: cover;
  background-attachment: fixed;
}

.header__search {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__search-field {
  outline: none;
  background: none;
  border: none;
  margin-left: 2rem;
  width: 40%;
  font-size: 30px;
  padding: 1.2rem;
  border: 2px solid red;
  font-family: "Shantell Sans", cursive;
  color: white;
}

.content {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.card {
  background: linear-gradient(90deg, #c4dc00, #ec8b00, #e52837);
  color: black;
  position: relative;
  margin-top: 3rem;
  padding: 1.5px;
}
.card__image {
  width: 100%;
  height: 75%;
  transition: 0.5s;
}
.card__title {
  text-align: center;
  margin: 1rem;
  padding-bottom: 10px;
  font-size: 24px;
}
.card:hover img {
  transform: scale(1.1);
}

p {
  color: wheat;
  text-align: center;
  font-size: 25px;
}

.hero {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../public/Images/marvel.jpg);
  background-size: cover;
  font-size: 1.3rem;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-attachment: fixed;
}
.hero__icon {
  flex-basis: 20%;
}
.hero__icon img {
  width: 400px;
  height: 500px;
  border: 1px solid white;
  box-shadow: 0 5px 5px 5px rgba(255, 255, 255, 0.2);
  transition: 0.5s;
  border-radius: 50%;
}
.hero__icon img:hover {
  transform: rotate(360deg);
}
.hero__discription {
  flex-basis: 50%;
  transition: all 0.5s ease;
  font-size: 5rem;
  line-height: 1.5em;
}
.hero__discription:hover {
  color: #ffa000;
  text-shadow: 2px 2px 2px #000;
}

.img {
  width: 100%;
  height: 600px;
}
.img__slider-little {
  width: 200px;
  height: 200px;
}

::-moz-placeholder {
  font-family: "Shantell Sans", cursive;
}

::placeholder {
  font-family: "Shantell Sans", cursive;
}

.text__slider-little {
  width: 250px;
  font-family: "Shantell Sans", cursive;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.text__slider-little a {
  text-decoration: none;
  color: inherit;
}

.slider__button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 10px;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #FF0000 inset, 0 0 0 0 #FF0000;
  letter-spacing: 1px;
  transition: 0.15s ease-in-out;
  font-size: 18px;
}
.slider__button:hover {
  box-shadow: 0 0 10px 0 #FF0000 inset, 0 0 10px 4px #FF0000;
  color: #f13737;
  font-weight: bold;
}

.SliderLittle {
  text-align: center;
}

.main__title {
  font-size: 48px;
  color: red;
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3, 0px 0px 20px #b393d3;
  text-align: center;
  margin: 100px 0 40px 0;
  transition: all ease-in-out 2s;
  font-family: "Climate Crisis", cursive;
}/*# sourceMappingURL=style.css.map */